@model WebShopProject.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn  btn-success mt-3" href="#" type="submit" value="Save" />
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
    <div class="col-lg-6">
        @if (Model.ProductImage != null)
        {
            <div class="col-sm-4">
                <div id="pictureCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#pictureCarousel" data-bs-slide-to="0" class="active"></li>
                        @if (Model.ProductImage.Count > 1)
                        {
                            for (int i = 1; i < Model.ProductImage.Count; i++)
                            {
                                <li data-bs-target="#pictureCarousel" data-bs-slide-to="@i"></li>
                            }
                        }
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="img-thumbnail">
                                @if (Model.ProductImage != null)
                                {
                                    <img src="@Model.ProductImage.Where(x => x.IsMainImage == true).FirstOrDefault().FileName" class="img-fluid img-thumbnail" />

                                }
                            </div>
                        </div>
                        @Model.ProductImage.Remove(Model.ProductImage.Where(x => x.IsMainImage == true).FirstOrDefault());
                        @foreach (var item in Model.ProductImage)
                        {
                            <div class="carousel-item">
                                <div class="img-thumbnail">
                                    <img src="@item.FileName" class="img-fluid" />
                                </div>
                            </div>
                        }
                    </div>
                    <a data-bs-target="#pictureCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a data-bs-target="#pictureCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="image-container">
                <img src="~/images/defauult.png" class="img-fluid" />
            </div>
        }
         
    </div>
  

</div>
<div class="row mt-3">
    <div class="d-inline-flex">
        <a class="btn btn-warning" asp-controller="AdminProductImage" asp-action="Index" asp-route-id="@Model.Id">Edit images</a>

        <a class="btn btn-dark ms-2" asp-action="Index">Back to List</a>
    </div>
</div>

    

