@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="alert alert-success d-inline-flex mb-3">
    @ViewBag.Message
</div>
<div class="row mb-5">
    <div class="col-sm-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="collapse" data-target="#list" data-bs-toggle="dropdown"
                    >
                Filter by categories
            </button>
                <div class="dropdown-menu" aria-labelledby="dropDownMenu">
                @if (ViewBag.Category != null)
                {
                    @foreach (Category item in ViewBag.Category)
                    {
                    <a class="dropdown-item" id="@item.Id" name="@item.Name" asp-action="FilterByCategory" asp-controller="Home" asp-route-id="@item.Id">@item.Name</a>
                    }
                }
                </div>
        </div>
        
    </div>
    <div class="col-2">
        <a asp-action="Index" class="btn btn-warning">Clear filter</a>
    </div>
</div>
<div class="row text-center">
    <h1>Product List</h1>
    <hr/>
</div>
<div>
    @Html.Partial("_ProductsPartial", Model)
</div>


