@model WebShopProject.Models.Product
@using WebShopProject.Extensions

@{
    ViewData["Title"] = "Product Details";
}

<h1>Details</h1>

<div>
    <hr />

    <div class="row">
        <div class="col-sm-4">
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class = "col-sm-12">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class = "col-sm-12">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class = "col-sm-12">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                
            </dl>
        </div>
     
        @if (Model.ProductImage != null)
        {
            <div class="col-sm-4 px-5">
                <div id="pictureCarousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#pictureCarousel" data-bs-slide-to="0" class="active"></li>
                        @if(Model.ProductImage.Count > 1)
                        {
                            for(int i = 1; i< Model.ProductImage.Count;i++)
                            {
                                <li data-bs-target="#pictureCarousel" data-bs-slide-to="@i"></li>
                            }
                        }
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="img-thumbnail">
                                @if (Model.ProductImage != null && Model.ProductImage.Count > 0)
                                {  //if product has images but no main image
                                    if (Model.ProductImage.Where(x => x.IsMainImage == true).FirstOrDefault() != null)
                                    {
                                        var imgSrc = Model.ProductImage.Where(x => x.IsMainImage == true).FirstOrDefault();
                                        Model.ProductImage.Remove(imgSrc);

                                        <img src="@imgSrc.FileName" class="img-fluid img-thumbnail" />
                                    }
                                    else
                                    {
                                        var imgSrc = Model.ProductImage.FirstOrDefault();
                                        Model.ProductImage.Remove(imgSrc);

                                        <img src="@imgSrc.FileName" class="img-fluid img-thumbnail" />
                                    }




                                }
                                else
                                {
                                    <img src="~/images/default.png" class="img-fluid img-thumbnail"/>       
                                }
                            </div>
                        </div>
                        @foreach (var item in Model.ProductImage)
                        {
                            <div class="carousel-item">
                                <div class="img-thumbnail">
                                    <img src="@item.FileName" class="img-fluid"/>
                                </div>
                            </div>
                        }
                </div>
                    <a data-bs-target="#pictureCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                    <a data-bs-target="#pictureCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
            </div>
        </div>
        }
        else
        {
            <div class="image-container"> 
                <img src="~/images/defauult.png" class="img-fluid" />
            </div>
        }
   </div>
</div>
<div class="row">
    <div class="d-inline-flex">
        <form method="post" asp-controller="Cart" asp-action="AddToCart">
            <input type="hidden" value="@Model.Id" name="productId"/>
            <input type="submit" value="Add to cart" class="btn btn-success"  />
        </form>
        <a class="btn btn-dark ms-2" asp-action="Index">Back to Products</a>
        @{@*Back to cart only availiable if theres item in cart*@
            var cart = this.Context.Session.GetObjectFromJson<List<OrderItem>>("_cart");
            if (cart != null)
        {
            <a class="btn btn-warning ms-2" asp-controller="Cart" asp-action="Index">Back to Cart</a>    
        }
        }
    </div>
</div>
