@model IEnumerable<WebShopProject.Models.Product>


<div class="row mt-3">
@foreach (var item in Model)
{
    <div class="col-sm-3 mb-5 justify-content-center d-flex">
        <div class="card" style="width: 18rem">
            <div class="container text-center">
                <a  asp-action="ProductDetails" asp-controller="Home" asp-route-id="@item.Id">
                @if (item.ProductImage == null)
                {
                    <img src="~/images/default.png"  class="img-fluid" />
                }
                else
                {
                        <img src="@item.ProductImage.FirstOrDefault(x => x.IsMainImage == true).FileName"  class="img-fluid img-thumbnail mt-3" style="height:15rem" />
                }
                </a>
            </div>
            <div class="card-body">
                <div class="card-title fw-bold">@item.Name</div>
                <p class="card-text"> @item.Description</p>
                <table class="table  table-hover">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@item.Price €</td>
                            <td class="position-relative">

                                <form method="post" class="position-absolute end-0 top-50 translate-middle-y" asp-controller="Cart" asp-action="AddToCart">
                                    <input type="hidden" name="productId" value="@item.Id">
                                    <input type="submit" class="btn btn-success btn-sm" value="Add to cart">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
</div>