@model List<WebShopProject.Extensions.CartItem>

@{
    ViewData["Title"] = "Cart";
}


@if(Model.Count == 0)
{
    <div class="text-center">
        <h1 class="display-4">Your cart is empty</h1>
        <hr>
        <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="Index">Continue shopping</a> 
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Cart items</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th></th>
                <th>Quantity</th>
                <th></th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr class="align-middle">
                   

                    <td>
                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.Product.Id" style="text-decoration:none; color:inherit">@item.Product.Name</a>
                    </td>

                    <td>
                        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.Product.Id">
                        @if(item.Product.ProductImage != null)
                        {
                            <img src="@item.Product.ProductImage.FirstOrDefault(x => x.IsMainImage == true).FileName" height="100"/>
                        }
                        else
                        {
                            <img src="~/images/default.png" height="100"/>
                        }
                        </a>
                    </td>
                  
               
                    <td>
                        <form method="post" asp-controller="Cart" asp-action="ChangeCartItemQuantity">
                            <input type="hidden" name="productId" value="@item.Product.Id"/>
                            <input type="number" placeholder="@item.Quantity" name="quantity" value="@item.Quantity"/>
                            <input type="submit" class="btn btn-info btn-sm" value="Change"/>
                        </form>
                    </td>
                    <td></td>
                    <td>@item.PricePerProduct €</td>
                    <td>
                        <form method="post" asp-controller="Cart" asp-action="RemoveFromCart">
                            <input type="hidden" name="productId" value="@item.Product.Id" />
                            <input type="submit" class="btn btn-danger btn-sm" value="Remove" />
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>@Model.Sum(x => x.PricePerProduct) €</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
    <div class="mt-2">
        <a class="btn btn-lg btn-success" asp-controller="Home" asp-action="Order">Order products</a>
        <a class="btn btn-lg btn-primary ms-2" asp-controller="Home" asp-action="Index">Continue shopping</a>
    </div>
}