@model List<WebShopProject.Extensions.CartItem>

@{
    ViewData["Title"] = "Cart";
}


@if(Model.Count == 0)
{
    <div class="text-center">
        <h1 class="display-4">Your cart is empty</h1>
        <hr>
        <a asp-controller="Home" asp-action="Index">Continue shopping</a> 
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Cart items</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th></th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        <form method="post" asp-controller="Cart" asp-action="RemoveFromCart">
                            <input type="hidden" name="productId" value="@item.Product.Id"/>
                            <input type="submit" class="btn btn-danger btn-sm" value="Remove"/>
                        </form>
                    </td>
                    <td>@item.Product.Name</td>
                    <td>
                        @if(item.Product.ProductImage != null)
                        {
                            <img src="@item.Product.ProductImage.FirstOrDefault(x => x.IsMainImage == true).FileName" height="100"/>
                        }
                        else
                        {
                            <img src="~/images/default.png" height="100"/>
                        }
                    </td>
                    <td>@item.Product.Price.ToString("0.00")</td>
                    <td>
                        <form method="post" asp-controller="Cart" asp-action="ChangeCartItemQuantity">
                            <input type="hidden" name="productId" value="@item.Product.Id"/>
                            <input type="number" placeholder="@item.Quantity" name="quantity" value="@item.Quantity"/>
                            <input type="submit" class="btn btn-info btn-sm" value="Change"/>
                        </form>
                    </td>
                    <td colspan="4" class="text-right">Total:</td>
                    <td>@Model.Sum(x => x.PricePerProduct).ToString("0.00") €</td>
                </tr>
            }
        </tbody>
    </table>
}